############################
# OS X
############################
out/
logs/
run/
.cache/
.idea/
.vscode/launch.json
.yalc/
chrome/
.DS_Store
Thumbs.db
.vscode/
*.suo
*.exe
*.ntvs*
*.njsproj
*.sln
*.sw*
.next/
.bin/
node_modules/
dist/
*.pyc
*.class
*.log
*.tmp
.env.local
.env.*.local
.ncore/
.apps_dist/
.data/
data/
webpack_dist/

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.zip
*.tar
*.gz
*.tgz   


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Tests
############################

coverage

############################
# Strapi
############################

.env
license.txt
exports
.strapi
dist
.strapi-updater.json
.strapi-cloud.json

pyenv_*/
yarn.lock